.Filter {
    flex: 1 1 200px;
    border: 1px solid blueviolet;
    text-align: center;
}

.Filter:hover {
    cursor: pointer;
    background-color: darkcyan;
}

.FilterCurrent {
    flex: 1 1 200px;
    border: 1px solid blueviolet;
    text-align: center;
    background-color: red;
    color: #ffffff;
}