//Colors:
//light:
$white: #ffffff;
//$Lbg: #ffffff;
//$Lgrey: #8F95A5;
//$Dgrey: #263238;

//dark:
$black: #000000;
//$Dbg: #28211B;

#light {
  transition: all 0.3s ease 0s;
  background-color: $white;
  color: $black;

  .header {
    background-color: $white;
    border-bottom: 2px solid $black;

    .moon {
      cursor: pointer;

    }
  }

  .filter {
    color: $black;
    background-color: $white;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  .filter-current {
    border: 1px solid $black;
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  .search-button {
    background-color: $white;
    border: 1px solid $black;

    &:disabled {
      cursor: initial;
      background-color: $white;
      border: 1px solid $black;
      color: $black;
    }

    &:enabled {
      transform: scale(1.05);
    }

    &:enabled:hover {
      background-color: $black;
      border: 1px solid $white;
      color: $white;
    }
  }

  .card {
    .badges {
      .badge {
        background-color: $white;
        color: $black;
        border: 1px solid $black;
      }
    }
  }

  .pagination {
    .active {
      border: 1px solid $white;
      background-color: $black;
      color: $white;
    }

    button {
      border: 1px solid $black;
      background-color: $white;
      color: $black;

      &:enabled:hover {
        border: 1px solid $white;
        background-color: $black;
        color: $white;
      }
    }
  }
}

#dark {
  transition: all 0.3s ease 0s;
  min-height: 100vh;
  background-color: $black;
  color: $white;

  .header {
    border-bottom: 2px solid $white;
    background-color: $black;

    .sun {
      cursor: pointer;
    }
  }

  .filter {
    border: 1px solid $white;
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $white;
      color: $black;
    }
  }

  .filter-current {
    border: 1px solid $white;
    background-color: $white;
    color: $black;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  .search-button {
    background-color: $black;
    border: 1px solid $white;
    color: $white;

    &:disabled {
      cursor: initial;
      background-color: $black;
      border: 1px solid $white;
      color: $white;
    }

    &:enabled {
      transform: scale(1.05);
    }

    &:enabled:hover {
      background-color: $white;
      border: 1px solid $black;
      color: $black;
    }
  }

  .card {
    border: 2px solid $white;

    .badges {
      .badge {
        background-color: $black;
        color: $white;
        border: 1px solid $white;
      }
    }
  }

  .pagination {
    .active {
      border: 1px solid $black;
      background-color: $white;
      color: $black;
    }

    button {
      border: 1px solid $white;
      background-color: $black;
      color: $white;

      &:enabled:hover {
        border: 1px solid $black;
        background-color: $white;
        color: $black;
      }
    }
  }
}

.mainLayout {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    .weather {

    }
  }

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;

    .circle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $white;
    }

    .name {

    }
  }

  .moviesListPage {
    padding: 10px;
  }

  .movieDetailsPage {
    a {
      color: inherit;
      font-size: 20px;

      &:hover {
        color: red;
      }
    }

    padding: 10px;

    .title {

    }

    .body {
      display: flex;
      column-gap: 20px;

      .poster {
        img {

        }
      }

      .info {
        > div:nth-child(2n+1) {
          font-weight: 700;
        }

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-content: start;
      }

      .overview {
        h2 {
          margin: 0 0 20px 0;
        }
      }
    }
  }
}


.filters {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 5px;
  @media (max-width: 1870px) {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

.filter {
  border: 1px solid $black;
  user-select: none;
  transition: all 0.2s ease 0s;
  font-size: 16px;
  font-weight: 700;
  flex: 1 1 200px;
  padding: 5px;
  border-radius: 40px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.filter-current {
  transition: all 0.2s ease 0s;
  font-size: 16px;
  font-weight: 700;
  flex: 1 1 200px;
  padding: 5px;
  border-radius: 40px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

.search-form {
  display: flex;
  column-gap: 5px;
  justify-content: flex-end;
  height: 30px;
  padding: 10px;

  .search-input {
    font-size: 16px;
    font-weight: 700;
    width: 300px;
    padding: 5px 5px 5px 10px;
    border-radius: 20px;
  }

  .search-button {
    transition: all 0.3s ease 0s;
    font-size: 16px;
    width: 100px;
    cursor: pointer;
    border-radius: 20px;
  }
}

.cards {
  h1 {
    display: flex;
    justify-content: center;
  }

  min-height: 100vh;
  padding: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  @media (max-width: 1620px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    border: 2px solid $black;
    border-radius: 30px;
    display: grid;
    align-content: space-between;
    flex-direction: column;
    width: 500px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease 0s;

    @media (max-width: 650px) {
      width: auto;
    }

    &:hover {
      transform: scale(1.05);
    }

    .badges {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 5px;
      justify-content: center;

      .badge {
        z-index: 10;
        transition: all 0.3s ease 0s;
        font-weight: 650;
        padding: 5px 10px;
        border-radius: 20px;
      }
    }

    .poster {
      cursor: pointer;
      height: 750px;
      position: relative;

      & img {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
      }
    }

    .poster-error {
      background-color: grey;
      height: 750px;
    }

    .poster-loading {
      height: 750px;
    }

    .info {
      padding: 10px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .rating {
      padding: 10px;
    }
  }
}

.pagination {
  & > * {
    display: flex;
    column-gap: 10px;
  }

  padding: 50px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .numbers {
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 10px;
    }
  }

  button {
    &:disabled {
      cursor: inherit;
    }

    transition: all 0.3s ease 0s;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    @media (max-width: 1200px) {
      padding: 5px 10px;
    }
  }
}